{% extends 'base.html.twig' %}

{% block title %} Accueil - DealGames {% endblock %}

{% block body %}
<nav class="navbar">
    <a href="{{ path('app_home') }}" class="navbar-brand">DealGames</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Jeux PC</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Jeux Console</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Accessoires</a></li>
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('profile') }}" class="nav-link">
                    {{ app.user.username }} <!-- Affiche le nom d'utilisateur -->
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="nav-link">
                    Déconnexion
                </a>
            </li>
            {% if app.user.isVerified() %}
                <li class="nav-item">
                    <a href="{{ path('app_annonce_new') }}" class="nav-link">
                        Créer une nouvelle annonce
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
<div class="container">
    <h1 class="display-4">Bienvenue sur DealGames</h1>
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Vendez vos jeux</h2>
            <p class="text-center">Vendez vos jeux, consoles et accessoires sur DealGames.</p>
            <a href="{{ path('new_annonce') }}" class="btn btn-primary">Créer une nouvelle annonce</a>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Achetez des jeux</h2>
            <p class="text-center">Achetez des jeux, consoles et accessoires sur DealGames.</p>
            <a href="{{ path('app_annonce') }}" class="btn btn-primary">Voir les annonces</a>
        </div>
    </div>
</div>
{% endblock %}

