{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
<nav class="navbar">
    <a href="{{ path('app_home') }}" class="navbar-brand">DealGames</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Jeux PC</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Jeux Console</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Accessoires</a></li>
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('app_profile') }}" class="nav-link">
                    {{ app.user.username }} <!-- Affiche le nom d'utilisateur -->
                </a>
            </li>
            {% if app.user.isVerified() %}
                <li class="nav-item">
                    <a href="{{ path('app_annonce_new') }}" class="nav-link">
                        Créer une nouvelle annonce
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
<div class="annonce-add-form">
    <h2>Créer une nouvelle annonce</h2>
    {{ form_start(app_annonce, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_row(app_annonce.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.imageFile, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.categories, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.prix, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.ville, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(app_annonce.codePostal, {'attr': {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(app_annonce) }}
</div>
{% endblock %}


